{% extends "base.html" %}

{% block content %}

{% from "_formhelpers.html" import render_field %}

<section>
      <div class="container mt-5 pt-5">
        <div class="row">
          <div class="col-12 col-sm-7 col-md-6 m-auto">
            <div class="card border-0 shadow">
                <h3 class="card-title text-center">Forgot Password</h3>
              <div class="card-body">
                  <form action="{{ url_for('auth.forgot')}}" method="POST">
                      {{ form.hidden_tag() }}
                      <dl>
                          {{ render_field(form.email, class='form-control', placeholder='Email address') }}
                      </dl>
                      <div class="d-grid gap-2 text-center">
                          <button class="btn btn-primary" type="submit">Submit</button>
                          <a href="{{url_for('auth.login')}}" class="text-primary">Already have an account ?</a>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}