{% macro render_field(field) %}
<!--Different rendering for Radio field as it is not compatible with floating labels-->
{% if field.type == 'RadioField'%}
<dd>
    <dt>{{ field.label(class="required") }}</dt>
      {{ field(**kwargs)|safe }}

      {% if field.errors %}
    <ul class="list-unstyled">
    {% for error in field.errors %}
      <li class="text-danger">
        <i class="bi bi-exclamation-circle" aria-hidden="true"></i>
        {{ error }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
</dd>
<!--Different rendering for PasswordField to enable custom toggling-->
{% elif field.type == 'PasswordField' %}
  <dd>
    <div class="input-group mb-3">
     <div class="form-floating">
        {{ field(**kwargs)|safe }}
      {% if field.name == 'login_password' %}
        {{ field.label }}
      {% else %}
        {{ field.label(class="required") }}
      {% endif %}
     </div>
       <button type="button" class="input-group-text" onclick="togglePassword({{ field.name }}, {{ field.name }}Toggle)">
        <i id="{{ field.name }}Toggle" class="bi bi-eye"></i>
      </button>
      </div>
      {% if field.errors %}
    <ul class="list-unstyled n-mt-3">
    {% for error in field.errors %}
      <li class="text-danger">
        <i class="bi bi-exclamation-circle" aria-hidden="true"></i>
        {{ error }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
      {% if field.name == 'password' %}
      <div class="form-text n-mt-3">
          Your password must be 7 - 20 characters long and contain at least:
          <ul>
              <li>One uppercase letter</li>
              <li>One number </li>
              <li>One special character (!@#$%^&*_+)</li>
          </ul>
      </div>
      {% endif %}
</dd>
<!--Render fields for all other input types-->
{% else %}
  <dd>
    <div class="form-floating mb-3">
      {{ field(**kwargs)|safe }}

      {% if field.type == 'TextAreaField' %}
      <div id="charCount" class="char-counter"></div>
      {% endif %}

      {% if field.name == 'extra_info' or field.name == 'swagger' or field.name == 'login_email'%}
        {{ field.label }}
      {% else %}
        {{ field.label(class="required") }}
      {% endif %}
      {% if field.errors %}
    <ul class="list-unstyled">
    {% for error in field.errors %}
      <li class="text-danger">
        <i class="bi bi-exclamation-circle" aria-hidden="true"></i>
        {{ error }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
    </div>
</dd>
{% endif %}
{% endmacro %}